<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页-个人待办事项管理系统</title>
    <link type="text/css" rel="stylesheet" href="../static/css/first_page.css"/>
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/first_page.js"></script>
</head>
<body>

<!--page head-->
<div id="page_head">
    <div id="head_line"><strong>个人待办事项管理系统</strong> </div>
</div>

<!--head medium-->
<div id="page_medium">
    <!-- the image located in the first page-->
    <img id="img_1" src="../static/img/1.png">

    <!--log in module-->
    <form id="login" action="http://localhost:8888/login_verify" method="POST">
        <p ><strong>个人代办事项管理系统登录</strong></p>
        <input name="user_id" id="user_id" class="login_item" type="text" placeholder="账号" value="19800"> <br />
        <input name="password" id="password" class="login_item" type="password" placeholder="密码" value="1234"> <br />
        <input id="login_btn" class="login_item" type="submit" value="立即登录">
    </form>
</div>

<!--page foot-->
<div id="page_foot">
    <hr/>
    <div id=page_foot_content">
        <span>如有问题，请联系系统管理员: </span><span id="administrator">huhao</span>
        <p>&copy; xxxxx</p>
    </div>
</div>

</body>
</html>